header {
  width: 100%;
}

section.banner {
  position: relative;
}
section.banner img {
  width: 100%;
}

h1#title {
  position: absolute;
  font-size: 4rem;
  color: #ffff;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(248, 248, 248, 0.255);
}

h1#title span {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 5rem;
  color: rgb(247, 212, 56);
}

h1#title,
h1#title span p {
  text-shadow: 1px 1px 10px #000000;
}

section.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content p {
  text-align: center;
  line-height: 1.5rem;
}

div.title-box-border {
  border-top: 2px solid #b4b4b4;
  margin-top: 2rem;
}

.t-blue {
  color: rgb(4, 148, 148);
  font-weight: bold;
  padding: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}
